DROP DATABASE IF EXISTS `education`;
CREATE DATABASE IF NOT EXISTS `education`; 
USE `education`;

SET NAMES UTF8MB4;
SET character_set_client = UTF8MB4;

-- --------------------------------------
--  TABLE COLLEGES
-- --------------------------------------

CREATE TABLE `Colleges` (
	`CollegeID` 		int NOT NULL AUTO_INCREMENT,
	`Name` 				varchar (20) NOT NULL,
	`Students` 			int NULL,	
	`City` 				varchar (15) NULL ,
	`Region` 			varchar (15) NULL ,	
	`Country` 			varchar (15) NULL ,
  	PRIMARY KEY (`CollegeID`),	
	INDEX `CollegeID` (`CollegeID` ASC),
	INDEX `Name` (`Name` ASC)
) ENGINE=InnoDB DEFAULT CHARSET=UTF8MB4 COLLATE=utf8mb4_0900_ai_ci;

-- --------------------------------------
--  TABLE STUDENTS
-- --------------------------------------

CREATE TABLE `Students` (
	`StudentID` 		int NOT NULL AUTO_INCREMENT,
	`CollegeID` 		int NOT NULL,	
	`FriendID` 			int NULL,		
	`FirstName` 		varchar (20) NOT NULL ,
	`LastName` 			varchar (20) NOT NULL ,	
	`BirthDate` 		date NULL ,	
	`Email` 			varchar (30) NULL ,
	`Phone` 		    varchar (24) NULL ,	
	`City` 				varchar (15) NULL ,
	`Region` 			varchar (15) NULL ,
	`Country` 			varchar (15) NULL ,
  	PRIMARY KEY (`StudentID`),	
	INDEX `StudentID` (`StudentID` ASC),
	INDEX `LastName` (`LastName` ASC),
	INDEX `FirstName` (`FirstName` ASC),	
	FOREIGN KEY (`CollegeID`) REFERENCES `Colleges` (`CollegeID`)
		ON DELETE NO ACTION
		ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=UTF8MB4 COLLATE=utf8mb4_0900_ai_ci;

-- --------------------------------------
--  POPULATE COLLEGES
-- --------------------------------------

INSERT INTO `Colleges` VALUES(1,'MIT',11,'Cambridge','MA','USA');
INSERT INTO `Colleges` VALUES(2,'Brown',9,'Providence','RI','USA');
INSERT INTO `Colleges` VALUES(3,'Dartmouth',6,'Hanover','NH','USA');



-- --------------------------------------
--  POPULATE STUDENTS
-- --------------------------------------

INSERT INTO `Students` VALUES(1,1,10,'Nancy','Davolio','1948-12-08','nancy@gmail.com','(360) 234-8488','Seattle','WA','USA');
INSERT INTO `Students` VALUES(2,9,5,'Andrew','Fuller','1952-02-19','andrew@yahoo.com',NULL,'Dallas','TX','USA');
INSERT INTO `Students` VALUES(3,8,1,'Janet','Leverling','1963-08-30','janet@hotmail.com','(786) 634-4522','Miami','FL','USA');

